@font-face {
    font-family: 'MesloLGS NF';
    src: url('/assets/fonts/MesloLGSNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MesloLGS NF', monospace;
}